@page "/"
@attribute [Authorize]

    <div class="row">
        <div class="col-12 col-md-4 mb-4">
            <SmallPanel Icon="fas fa-microchip" Color="info" Url="/sampledata/totaldevices.json" />
        </div>
        <div class="col-12 col-md-4 mb-4">
            <SmallPanel Icon="fas fa-envelope" Color="success" Url="/sampledata/totalmessages.json" />
        </div>
        <div class="col-12 col-md-4 mb-4">
            <SmallPanel Icon="fas fa-envelope" Color="warning" Url="/sampledata/totaltwinmessages.json" />
        </div>
        <div class="col-12 mb-4">
            <LargePanel Icon="fas fa-chart-line" Color="info" Url="https://sladjaniotfunc.azurewebsites.net/api/GetSensorFromCosmos" />
        </div>
    </div>