@page "/messages"

<h3>Messages</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">column1</th>
            <th scope="col">column2</th>
            <th scope="col">column3</th>
            <th scope="col">column4</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        </tr>
    </tbody>
</table>

@code {

}
