@inject HttpClient Http
@inject IJSRuntime JSRuntime

<div class="card">
    <div class="card-icon z-depth-1-half @BgColor">
        <i class="@Icon"></i>
    </div>
    <div class="card-body text-right">
        <h6 class="card-title"></h6>
        <div class="card-text">
            <div id="linechart"></div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public string Color { get; set; }

    [Parameter]
    public string Url { get; set; }

    private string BgColor => $"{Color.ToLower()}-color";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var data = await Http.GetStringAsync(Url);
        await JSRuntime.InvokeVoidAsync("populateChart", data);
    }
}
