<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">SladjanCMSBlazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span><i class="fas fa-solar-panel"></i> Panel</span> 
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="messages">
                <span><i class="far fa-envelope"></i> Messages</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="devices">
                <span><i class="fas fa-desktop"></i> Devices</span>
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
